In [1]:
import pandas as pd
import os

# Confirm working directory
print("Current working directory:")
print(os.getcwd())

# Define relative path to enhanced data
file_path = "../../../data/output/ma_data_enhanced_2018.csv"

# Check that file exists before loading
print("\nDoes file exist?")
print(os.path.exists(file_path))

# Load dataset
ma_data_2018 = pd.read_csv(file_path)

# Preview
ma_data_2018.head()

Current working directory:
/Users/valeriehernandez/Documents/econ470/homework2/submission3/data-code

Does file exist?
True

/var/folders/dr/bz36x93s5vs6lnjjq8z60zfm0000gp/T/ipykernel_96809/787727782.py:16: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  ma_data_2018 = pd.read_csv(file_path)

,contractid,planid,fips,year,state_plan,county_plan,org_type_plan,plan_type_plan,partd,snp,...,payment_partc,rebate_partc,year_rr,payment_partd,directsubsidy_partd,reinsurance_partd,costsharing_partd,riskscore_partd,basic_premium,bid
0,H0022,1,39023.0,2018,OH,Clark,Demo,Medicare-Medicaid Plan HMO/HMOPOS,Yes,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,H0022,1,39035.0,2018,OH,Cuyahoga,Demo,Medicare-Medicaid Plan HMO/HMOPOS,Yes,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H0022,1,39051.0,2018,OH,Fulton,Demo,Medicare-Medicaid Plan HMO/HMOPOS,Yes,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,H0022,1,39055.0,2018,OH,Geauga,Demo,Medicare-Medicaid Plan HMO/HMOPOS,Yes,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,H0022,1,39057.0,2018,OH,Greene,Demo,Medicare-Medicaid Plan HMO/HMOPOS,Yes,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
import pandas as pd
import numpy as np

# Path relative to submission3/data-code
ffs_path = "../../../data/input/ffs_2018/FFS18.xlsx"

ffs_data = pd.read_excel(
    ffs_path,
    skiprows=2,
    names=[
        "ssa","state","county_name","parta_enroll",
        "parta_reimb","parta_percap","parta_reimb_unadj",
        "parta_percap_unadj","parta_ime","parta_dsh",
        "parta_gme","partb_enroll",
        "partb_reimb","partb_percap"
    ]
)

final_ffs_costs = ffs_data[[
    "ssa","state","county_name",
    "parta_enroll","parta_reimb",
    "partb_enroll","partb_reimb"
]].copy()

# Add year
final_ffs_costs["year"] = 2018

# Convert SSA to numeric
final_ffs_costs["ssa"] = pd.to_numeric(final_ffs_costs["ssa"], errors="coerce")

# Clean numeric columns
num_cols = ["parta_enroll","parta_reimb","partb_enroll","partb_reimb"]

for col in num_cols:
    final_ffs_costs[col] = (
        final_ffs_costs[col]
        .astype(str)
        .str.replace(r"[^\d.]", "", regex=True)
    )
    final_ffs_costs[col] = pd.to_numeric(final_ffs_costs[col], errors="coerce")

final_ffs_costs = final_ffs_costs.drop_duplicates(subset=["ssa","year"])

print("FFS built successfully")
final_ffs_costs.head()

FFS built successfully

,ssa,state,county_name,parta_enroll,parta_reimb,partb_enroll,partb_reimb,year
0,1010.0,ALABAMA,BALDWIN,28649.0,88505332.0,25551.0,132300296.0,2018
1,1020.0,ALABAMA,BARBOUR,3292.0,13042065.0,3041.0,15543046.0,2018
2,1030.0,ALABAMA,BIBB,2220.0,8935838.0,1944.0,9702178.0,2018
3,1040.0,ALABAMA,BLOUNT,4685.0,15550904.0,4164.0,21517760.0,2018
4,1050.0,ALABAMA,BULLOCK,798.0,3210417.0,728.0,2882518.0,2018

In [6]:
ma_path = "../../../data/output/ma_data_enhanced_2018.csv"

ma_df = pd.read_csv(ma_path)

ma_df = ma_df[ma_df["year"] == 2018].copy()

# Make sure SSA numeric
ma_df["ssa"] = pd.to_numeric(ma_df["ssa"], errors="coerce")

print("MA data loaded")
ma_df.head()

MA data loaded

/var/folders/dr/bz36x93s5vs6lnjjq8z60zfm0000gp/T/ipykernel_96809/404931309.py:3: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  ma_df = pd.read_csv(ma_path)

,contractid,planid,fips,year,state_plan,county_plan,org_type_plan,plan_type_plan,partd,snp,...,payment_partc,rebate_partc,year_rr,payment_partd,directsubsidy_partd,reinsurance_partd,costsharing_partd,riskscore_partd,basic_premium,bid
0,H0022,1,39023.0,2018,OH,Clark,Demo,Medicare-Medicaid Plan HMO/HMOPOS,Yes,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,H0022,1,39035.0,2018,OH,Cuyahoga,Demo,Medicare-Medicaid Plan HMO/HMOPOS,Yes,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H0022,1,39051.0,2018,OH,Fulton,Demo,Medicare-Medicaid Plan HMO/HMOPOS,Yes,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,H0022,1,39055.0,2018,OH,Geauga,Demo,Medicare-Medicaid Plan HMO/HMOPOS,Yes,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,H0022,1,39057.0,2018,OH,Greene,Demo,Medicare-Medicaid Plan HMO/HMOPOS,Yes,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
analysis_df = ma_df.merge(
    final_ffs_costs,
    on=["ssa","year"],
    how="left"
)

print("Merge complete")
analysis_df.head()

Merge complete

,contractid,planid,fips,year,state_plan,county_plan,org_type_plan,plan_type_plan,partd,snp,...,costsharing_partd,riskscore_partd,basic_premium,bid,state_y,county_name,parta_enroll,parta_reimb,partb_enroll,partb_reimb
0,H0022,1,39023.0,2018,OH,Clark,Demo,Medicare-Medicaid Plan HMO/HMOPOS,Yes,No,...,NaN,NaN,NaN,NaN,OHIO,CLARK,15753.0,68334261.0,13689.0,72342588.0
1,H0022,1,39035.0,2018,OH,Cuyahoga,Demo,Medicare-Medicaid Plan HMO/HMOPOS,Yes,No,...,NaN,NaN,NaN,NaN,OHIO,CUYAHOGA,140616.0,629902401.0,119042.0,617228042.0
2,H0022,1,39051.0,2018,OH,Fulton,Demo,Medicare-Medicaid Plan HMO/HMOPOS,Yes,No,...,NaN,NaN,NaN,NaN,OHIO,FULTON,6379.0,22799811.0,5776.0,28204758.0
3,H0022,1,39055.0,2018,OH,Geauga,Demo,Medicare-Medicaid Plan HMO/HMOPOS,Yes,No,...,NaN,NaN,NaN,NaN,OHIO,GEAUGA,11294.0,37225211.0,9735.0,47821487.0
4,H0022,1,39057.0,2018,OH,Greene,Demo,Medicare-Medicaid Plan HMO/HMOPOS,Yes,No,...,NaN,NaN,NaN,NaN,OHIO,GREENE,13834.0,53963556.0,12036.0,62404079.0

In [ ]:
# Part 2: ATE Estimation set up
# compute total enrollmet per county
# Total MA enrollment per county (SSA)
county_totals = (
    analysis_df
    .groupby("ssa")["enrollment"]
    .sum()
    .reset_index()
    .rename(columns={"enrollment": "total_enrollment"})
)

county_totals.head()

      ssa  total_enrollment
0  1000.0            2711.0
1  1010.0           15163.0
2  1020.0            1432.0
3  1030.0            1421.0
4  1040.0            4727.0

In [11]:
analysis_df = analysis_df.merge(
    county_totals,
    on="ssa",
    how="left"
)

In [12]:
analysis_df["market_share"] = (
    analysis_df["enrollment"] /
    analysis_df["total_enrollment"]
)

In [13]:
hhi_df = (
    analysis_df
    .groupby("ssa")["market_share"]
    .apply(lambda x: np.sum(x**2))
    .reset_index()
    .rename(columns={"market_share": "hhi"})
)

hhi_df.head()

      ssa       hhi
0  1000.0  0.205650
1  1010.0  0.231093
2  1020.0  0.215420
3  1030.0  0.264790
4  1040.0  0.182260

In [14]:
county_df = (
    analysis_df
    .groupby("ssa")
    .agg(
        avg_bid=("bid","mean"),
        avg_eligibles=("parta_enroll","mean"),
        parta_reimb=("parta_reimb","mean"),
        partb_reimb=("partb_reimb","mean")
    )
    .reset_index()
)

# Merge HHI
county_df = county_df.merge(hhi_df, on="ssa", how="left")

county_df.head()

      ssa     avg_bid  avg_eligibles  parta_reimb  partb_reimb       hhi
0  1000.0  751.078107            NaN          NaN          NaN  0.205650
1  1010.0  755.491102        28649.0   88505332.0  132300296.0  0.231093
2  1020.0  759.636470         3292.0   13042065.0   15543046.0  0.215420
3  1030.0  744.817421         2220.0    8935838.0    9702178.0  0.264790
4  1040.0  733.102352         4685.0   15550904.0   21517760.0  0.182260

In [15]:
# Question 5: Average bid among competitive vs uncompetitive markets
q_low  = county_df["hhi"].quantile(0.33)
q_high = county_df["hhi"].quantile(0.66)

county_df["treated_dummy"] = np.where(
    county_df["hhi"] >= q_high, 1,
    np.where(county_df["hhi"] <= q_low, 0, np.nan)
)

county_df = county_df.dropna(subset=["treated_dummy"]).copy()
county_df["treated_dummy"] = county_df["treated_dummy"].astype(int)

county_df.groupby("treated_dummy")["avg_bid"].mean()

treated_dummy
0    768.146865
1    779.337402
Name: avg_bid, dtype: float64

In [16]:
# Question 6: Split markets into quartiles based on Medicare fee-for-service (FFS) costs.
county_df["ffs_total"] = (
    county_df["parta_reimb"] +
    county_df["partb_reimb"]
)

In [17]:
county_df["ffs_q"] = pd.qcut(
    county_df["ffs_total"],
    4,
    labels=False
) + 1

for q in [1,2,3,4]:
    county_df[f"ffs_q{q}"] = (county_df["ffs_q"] == q).astype(int)

In [18]:
quartile_table = (
    county_df
    .groupby(["ffs_q","treated_dummy"])["avg_bid"]
    .mean()
    .unstack()
)

quartile_table.columns = ["Competitive (0)", "Concentrated (1)"]
quartile_table

       Competitive (0)  Concentrated (1)
ffs_q
1.0         721.903021        796.701669
2.0         809.075643        772.379012
3.0         778.147988        770.059070
4.0         764.050044        773.660405

In [36]:
# Question 7: Four estimators
cov_cols = ["ffs_q1","ffs_q2","ffs_q3","ffs_q4"]

lp_df = county_df.dropna(
    subset=["avg_bid","treated_dummy"] + cov_cols
).copy()

In [37]:
# Nearest Neighbor Inverse Variance Distance
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import NearestNeighbors

nn = NearestNeighbors(n_neighbors=1, metric="euclidean")
nn.fit(X_c)

_, indices = nn.kneighbors(X_t)

matched_ctrl = y_c[indices.flatten()]

ate_invvar = np.mean(y_t - matched_ctrl)

print("Corrected NN (Euclidean) ATE:", ate_invvar)

Corrected NN (Euclidean) ATE: -8.5262515961076

In [38]:
# Nearest Neighbor Mahalanobis 
V = np.cov(np.vstack([X_t, X_c]).T)

nn_md = NearestNeighbors(
    n_neighbors=1,
    metric="mahalanobis",
    metric_params={"V": V}
)

nn_md.fit(X_c)

distances, indices = nn_md.kneighbors(X_t)

matched_ctrl = y_c[indices.flatten()]

ate_mahal = np.mean(y_t - matched_ctrl)

print("NN Mahalanobis ATE:", ate_mahal)

NN Mahalanobis ATE: -8.5262515961076

In [39]:
# Inverse Propensity Weighting 
import statsmodels.formula.api as smf

ps_model = smf.logit(
    "treated_dummy ~ ffs_q2 + ffs_q3 + ffs_q4",
    data=lp_df
).fit()

lp_df["ps"] = ps_model.predict(lp_df)
lp_df["ps"] = lp_df["ps"].clip(1e-6, 1-1e-6)

lp_df["ipw"] = np.where(
    lp_df["treated_dummy"] == 1,
    1 / lp_df["ps"],
    1 / (1 - lp_df["ps"])
)

treated  = lp_df[lp_df["treated_dummy"] == 1]
controls = lp_df[lp_df["treated_dummy"] == 0]

mean_t = np.average(treated["avg_bid"], weights=treated["ipw"])
mean_c = np.average(controls["avg_bid"], weights=controls["ipw"])

ate_ipw = mean_t - mean_c

print("IPW ATE:", ate_ipw)

Optimization terminated successfully.
         Current function value: 0.628783
         Iterations 5
IPW ATE: 8.445805039839456

In [43]:
# OLS Regression
reg1 = smf.ols(
    "avg_bid ~ ffs_q2 + ffs_q3 + ffs_q4",
    data=lp_df[lp_df["treated_dummy"]==1]
).fit()

reg0 = smf.ols(
    "avg_bid ~ ffs_q2 + ffs_q3 + ffs_q4",
    data=lp_df[lp_df["treated_dummy"]==0]
).fit()

# Predict for everyone
pred1 = reg1.predict(lp_df)
pred0 = reg0.predict(lp_df)

ate_reg = np.mean(pred1 - pred0)

print("Correct regression ATE:", ate_reg)

Correct regression ATE: 8.44580503983952

In [44]:
# Final Table
results = pd.DataFrame({
    "Estimator": [
        "NN Inverse Variance",
        "NN Mahalanobis",
        "IPW",
        "Regression"
    ],
    "ATE": [
        ate_invvar,
        ate_mahal,
        ate_ipw,
        ate_reg
    ]
})

results

             Estimator       ATE
0  NN Inverse Variance -8.526252
1       NN Mahalanobis -8.526252
2                  IPW  8.445805
3           Regression  8.445805

In [45]:
# Question 9: Continuous OLS
import numpy as np
import statsmodels.formula.api as smf

cov_cont = ["ffs_total", "avg_eligibles"]

lp_df2 = county_df.dropna(
    subset=["avg_bid", "treated_dummy"] + cov_cont
).copy()

In [46]:
# Treated regression
reg1 = smf.ols(
    "avg_bid ~ ffs_total + avg_eligibles",
    data=lp_df2[lp_df2["treated_dummy"] == 1]
).fit()

# Control regression
reg0 = smf.ols(
    "avg_bid ~ ffs_total + avg_eligibles",
    data=lp_df2[lp_df2["treated_dummy"] == 0]
).fit()

In [47]:
# Predict Y(1) for everyone
pred1 = reg1.predict(lp_df2)

# Predict Y(0) for everyone
pred0 = reg0.predict(lp_df2)

# Average treatment effect
ate_continuous_ols = np.mean(pred1 - pred0)

print("OLS ATE (continuous covariates):", ate_continuous_ols)

OLS ATE (continuous covariates): 8.438063813319726

In [49]:
import numpy as np
import statsmodels.formula.api as smf

# Ensure quartile covariates exist
cov_quart = ["ffs_q2","ffs_q3","ffs_q4"]

lp_df = county_df.dropna(
    subset=["avg_bid","treated_dummy"] + cov_quart
).copy()

# Separate regressions
reg1_q = smf.ols(
    "avg_bid ~ ffs_q2 + ffs_q3 + ffs_q4",
    data=lp_df[lp_df["treated_dummy"]==1]
).fit()

reg0_q = smf.ols(
    "avg_bid ~ ffs_q2 + ffs_q3 + ffs_q4",
    data=lp_df[lp_df["treated_dummy"]==0]
).fit()

# Predict potential outcomes
pred1_q = reg1_q.predict(lp_df)
pred0_q = reg0_q.predict(lp_df)

# ATE
ate_quartile_ols = np.mean(pred1_q - pred0_q)

print("OLS ATE (quartile covariates):", ate_quartile_ols)

OLS ATE (quartile covariates): 8.44580503983952

In [50]:
print("Quartile OLS:", ate_quartile_ols)
print("Continuous OLS:", ate_continuous_ols)

Quartile OLS: 8.44580503983952
Continuous OLS: 8.438063813319726

In [51]:
import pandas as pd
county_df = pd.read_csv("../../../data/output/ma_data_enhanced_2018.csv")
print(county_df.columns.tolist())

['contractid', 'planid', 'fips', 'year', 'state_plan', 'county_plan', 'org_type_plan', 'plan_type_plan', 'partd', 'snp', 'eghp_plan', 'org_name_plan', 'org_marketing_name', 'plan_name', 'parent_org', 'contract_date', 'enrollment', 'state_sa', 'county_sa', 'org_name_sa', 'org_type_sa', 'plan_type_sa', 'partial', 'eghp_sa', 'ssa', 'notes', 'state', 'county', 'premium', 'premium_partc', 'premium_partd_basic', 'premium_partd_supp', 'premium_partd_total', 'partd_deductible', 'year_landscape', 'riskscore_partc', 'payment_partc', 'rebate_partc', 'year_rr', 'payment_partd', 'directsubsidy_partd', 'reinsurance_partd', 'costsharing_partd', 'riskscore_partd', 'basic_premium', 'bid']

/var/folders/dr/bz36x93s5vs6lnjjq8z60zfm0000gp/T/ipykernel_96809/3206052026.py:2: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  county_df = pd.read_csv("../../../data/output/ma_data_enhanced_2018.csv")

In [42]:
analysis_df.columns

Index(['contractid', 'planid', 'fips', 'year', 'state_plan', 'county_plan',
       'org_type_plan', 'plan_type_plan', 'partd', 'snp', 'eghp_plan',
       'org_name_plan', 'org_marketing_name', 'plan_name', 'parent_org',
       'contract_date', 'enrollment', 'state_sa', 'county_sa', 'org_name_sa',
       'org_type_sa', 'plan_type_sa', 'partial', 'eghp_sa', 'ssa', 'notes',
       'state_x', 'county', 'premium', 'premium_partc', 'premium_partd_basic',
       'premium_partd_supp', 'premium_partd_total', 'partd_deductible',
       'year_landscape', 'riskscore_partc', 'payment_partc', 'rebate_partc',
       'year_rr', 'payment_partd', 'directsubsidy_partd', 'reinsurance_partd',
       'costsharing_partd', 'riskscore_partd', 'basic_premium', 'bid',
       'state_y', 'county_name', 'parta_enroll', 'parta_reimb', 'partb_enroll',
       'partb_reimb', 'total_enrollment', 'market_share'],
      dtype='object')

In [52]:
import pandas as pd
import numpy as np

county_df = pd.read_csv("../../../data/output/ma_data_enhanced_2018.csv")
county_df = county_df[county_df["year"] == 2018].copy()
print(county_df.columns.tolist())

['contractid', 'planid', 'fips', 'year', 'state_plan', 'county_plan', 'org_type_plan', 'plan_type_plan', 'partd', 'snp', 'eghp_plan', 'org_name_plan', 'org_marketing_name', 'plan_name', 'parent_org', 'contract_date', 'enrollment', 'state_sa', 'county_sa', 'org_name_sa', 'org_type_sa', 'plan_type_sa', 'partial', 'eghp_sa', 'ssa', 'notes', 'state', 'county', 'premium', 'premium_partc', 'premium_partd_basic', 'premium_partd_supp', 'premium_partd_total', 'partd_deductible', 'year_landscape', 'riskscore_partc', 'payment_partc', 'rebate_partc', 'year_rr', 'payment_partd', 'directsubsidy_partd', 'reinsurance_partd', 'costsharing_partd', 'riskscore_partd', 'basic_premium', 'bid']

/var/folders/dr/bz36x93s5vs6lnjjq8z60zfm0000gp/T/ipykernel_96809/2352399155.py:4: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  county_df = pd.read_csv("../../../data/output/ma_data_enhanced_2018.csv")

In [53]:
county_df["ssa"] = pd.to_numeric(county_df["ssa"], errors="coerce")
county_df = county_df.merge(final_ffs_costs, on=["ssa", "year"], how="left")
print(county_df.columns.tolist())

['contractid', 'planid', 'fips', 'year', 'state_plan', 'county_plan', 'org_type_plan', 'plan_type_plan', 'partd', 'snp', 'eghp_plan', 'org_name_plan', 'org_marketing_name', 'plan_name', 'parent_org', 'contract_date', 'enrollment', 'state_sa', 'county_sa', 'org_name_sa', 'org_type_sa', 'plan_type_sa', 'partial', 'eghp_sa', 'ssa', 'notes', 'state_x', 'county', 'premium', 'premium_partc', 'premium_partd_basic', 'premium_partd_supp', 'premium_partd_total', 'partd_deductible', 'year_landscape', 'riskscore_partc', 'payment_partc', 'rebate_partc', 'year_rr', 'payment_partd', 'directsubsidy_partd', 'reinsurance_partd', 'costsharing_partd', 'riskscore_partd', 'basic_premium', 'bid', 'state_y', 'county_name', 'parta_enroll', 'parta_reimb', 'partb_enroll', 'partb_reimb']

In [54]:
print(county_df["enrollment"].describe())
print(county_df[["contractid", "planid", "fips", "enrollment"]].head(10))

count    30018.000000
mean       470.912552
std       1792.739291
min         11.000000
25%         30.000000
50%         89.000000
75%        300.000000
max      60662.000000
Name: enrollment, dtype: float64
  contractid  planid     fips  enrollment
0      H0022       1  39023.0       622.0
1      H0022       1  39035.0      3657.0
2      H0022       1  39051.0       126.0
3      H0022       1  39055.0        80.0
4      H0022       1  39057.0       601.0
5      H0022       1  39085.0       324.0
6      H0022       1  39093.0       535.0
7      H0022       1  39095.0      2892.0
8      H0022       1  39103.0       205.0
9      H0022       1  39113.0      3278.0

In [55]:
# Save results to load in qmd
results.to_csv("../../../data/output/ate_results.csv", index=False)

summary = pd.DataFrame({
    "estimator": ["ATE (quartile dummies)", "ATE (continuous covariates)"],
    "value": [ate_quartile_ols, ate_continuous_ols]
})
summary.to_csv("../../../data/output/ate_summary.csv", index=False)